.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-left: 30px;
  padding-left: 30px;
}

.wedding-card-text {
  color: rgba(115,115,115,115);
  padding-left: 0px !important;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  z-index: 3;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

.card-title {
  color: rgba(115,115,115,115);
  padding-left: 0px !important;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  z-index: 3;
  text-align: center;
}

.wedding-card-date {
  padding-left: 0px !important;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  z-index: 3;
  text-align: center;
  color: rgba(115,115,115,115);
}

div.card {
  height: 610px;
  box-shadow: 0 4px 4px 0 rgba(115,115,115,115);
}
.card-info {
  padding: 20px;
}

#wedding-index-title {
  text-align: center;
  color: rgba(115,115,115,115);
  font-size: 70px;
  font-family: 'Cinzel', serif;
  margin: 20px 0;
}

.wedding-card-countdown {
  color: rgba(115,115,115,115);
  text-align: center;
  font-size: 28px;
  font-family: 'Cinzel', serif;
}

.new-wedding-link {
  color: rgba(115,115,115,115);
  margin-left: 20px;
  font-family: 'Cinzel', serif;
  // border: solid black 1px;
  padding: 3px 5px 3px 5px;
}

.new-wedding-link:hover {
  text-decoration: none;
  color: black;
  background-color: rgba(134, 134, 134, 0.061);
}

img.card-image {
  box-shadow: 0 2px 2px 0 rgba(115,115,115,115);
}


// .header {
//   color: rgb(105, 101, 101);
//   font-size: 80px;
//   font-family: 'Cinzel', serif;
//   // border: solid black 3px;
//   width: 100vw;
//   text-align: center;
//   z-index: 3;
//   position: relative;
// }

// .card-body {
//   padding: 20px;
//   box-shadow: 0 3px 3px rgba(0,0,0,0.2);
//   border-radius: 4px;
//   height: 300px;
//   width: 300px;
//   background-color: #D4BFB4;
// }

// .t {
//   color: #E3D5CA;
// }

// .bar {
//   display: flex;
//   justify-content: center;
// }

// .add {
//   color: black !important;
//   padding-left: 0px !important;
//   font-size: 26px;
//   font-family: 'Cinzel', serif;
// }

// .logo {
//   display: block;
// }
