.entire {
  background-color: #efe4d8;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  // border-radius: 8px;
  // margin: 30px;

  margin-left: 30px;
  padding-left: 30px;
}

.card-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  // border-radius: 8px;
  // margin: 30px;

  margin-left: 30px;
  padding-left: 30px;
}


.wedding-card-text {
    color: black !important;
    padding-left: 0px !important;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    z-index: 3;
}

.header {
  color: rgb(105, 101, 101);
  font-size: 80px;
  font-family: 'Cinzel', serif;
  // border: solid black 3px;
  width: 100vw;
  text-align: center;
  z-index: 3;
  position: relative;
}


// .main-container {
//   display: grid;
//   // grid-template-columns: 2fr 2fr 2fr 2fr;
//   background-color: #D6CCC2;
//   border: solid black 3px;
//   width: 100vw;
// }

.card-body {
  padding: 20px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  border-radius: 4px;
  height: 300px;
  width: 300px;
  background-color: #D4BFB4;
}

.t {
  color: #E3D5CA;
}

.bar {
  display: flex;
  justify-content: center;
}

.add {
  color: black !important;
  padding-left: 0px !important;
  font-size: 26px;
  font-family: 'Cinzel', serif;
}

.logo {
  display: block;
}

// .card-columns {
//   @include media-breakpoint-only(lg) {
//     column-count: 3;
//   }
//   @include media-breakpoint-only(xl) {
//     column-count: 3;
//   }
// }
