.dropdown {
  display: flex;
  justify-content: right;
}

.data h1 {
  color: white;
  font-size: 110px;
  font-family: 'Cinzel', serif;
  border: solid white 3px;
  width: 100vw;
  text-align: center;
  z-index: 4;
  position: relative;
  margin-top: 50px;
  margin-left: 150px;
  width: 1000px;
  background-color: rgba(45, 45, 45, 0.58);
}


.data h2 {
  color: white;
  font-size: 50px;
  font-family: 'Cinzel', serif;
  text-align: center;
  z-index: 4;
  position: relative;
  margin-left: 700px;
  margin-top: 150px;
  background-color: rgba(45, 45, 45, 0.58);
  border: solid white 3px;
  width: 400px;
}

#gallery {
  color: rgba(115,115,115,115);
  font-size: 50px;
  font-family: 'Cinzel', serif;
  text-align: center;
  z-index: 4;
  position: relative;
  // margin-right: 200px;
  margin-top: 60px;
}

.data p {
  color: rgba(115,115,115,115);
  font-size: 22px;
  font-family: 'Cinzel', serif;
  margin-top: 280px;
  margin-left: 100px;
  z-index: 4;
  position: relative;
  max-width: 700px;
  text-align: center;
}

.image5 {
  height: 540px;
  object-fit: cover;
  position: absolute;
  z-index: 2;
  margin-top: 80px;
  margin-left: 40px;
  box-shadow: 0 4px 4px 0;
}

.image2 {
  height: 400px;
  object-fit: cover;
  position: absolute;
  z-index: 3;
  margin-top: 500px;
  // margin-bottom: 700px;
  margin-left: 950px;
  box-shadow: 0 4px 4px 0;

}

.image3 {
  height: 380px;
  object-fit: cover;
  position: absolute;
  z-index: 4;
  margin-top: 40px;
  margin-left: 1080px;
  box-shadow: 0 4px 4px 0;

}

.carousel-item {
  box-shadow: 0 4px 4px 0;

}

#edit_wedding_8 {
  width: 300px;
}

#carouselExampleControls {
  width: 465px;
}

.media-share {
  // border: solid black 2px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  // margin: 0 190px;
  height: 650px;
}

.add-media {
  color: rgba(115,115,115,115);  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  font-family: 'Cinzel', serif;
  padding: 20px;
  justify-content: center;
  width: 600px;
  text-shadow: none;
}

.add-media p {
  color: rgba(115,115,115,115);
  font-size: 20px;
  font-family: 'Cinzel', serif;
  text-shadow: none;
}

img.d-block.w-100 {
  object-fit: cover;
  box-shadow: 0 4px 4px 0;
  height: 460px;
  // width: 700px;
}

input {
  background-color: #efe4d8;
  border: solid rgba(115,115,115,115) 1px;
  color: rgba(115,115,115,115);
}

input#wedding_photos.form-control.is-valid.file.optional {
  background-color: #efe4d8;
}
