.card-trip {
    justify-content: space-evenly;
}

.card-trip img {
    width: 350px;
    height: 350px;
}

.card-trip-infos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info {
    text-align: center;
}

.title h1 {
    align-items: center;
}