.entire {
  background-color: #efe4d8;
}

.simple-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 660px;
  width: 800px;
  background-color: black;
}


.rsvpphoto {
  height: 300px;
  width: 300px;
}

.text-title {
  color: rgb(105, 101, 101);
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 80px;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  text-align: center;
}

.card-content {
  color: rgb(45, 43, 43);
  font-size: 16px;
  // opacity: .9;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.699);
  font-family: 'Noto Sans', sans-serif;
  max-width: 500px;
  text-align: center;
  padding-left: 0px;
  font-style: italic;
}

.rsvp {
  align-items: center;
  // display: flex;
  justify-content: center;
  background-color: #efe4d8;
}

.table-container {
  width: 50%;
  margin: 25px auto; 
}



=======
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #BDC3C7;
  font-family: 'Raleway';
  }
  // .top {
  //   background-color: #264356;
  //   height: 200px;
  //   margin:0;
  //   padding:0;
  //   // box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
  // }

  .form {
    height: 590px;
    width: 400px;
    background-color: #fff;
    margin: -50px auto;
    border-radius: 10px;
    color: #666;
    padding: 0px 0px;
    // box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
  }

  .subheader {
    color: rgb(105, 101, 101);
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 25px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    text-align: center;
  }


  .reply-text {
    color: rgb(105, 101, 101);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 36px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    text-align: center;
  }

  .rsvp-title {
    color: rgb(105, 101, 101);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 36px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    text-align: center;
  }

  .info {
    padding: 10px;
  }

  h1, h2, p {
    color: rgb(105, 101, 101);
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 15px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    text-align: center;
  }

  h2 {
    color: rgb(105, 101, 101);
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 25px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    text-align: center;
  }

  p.line {
    margin: 0px auto 20px auto;
    color: #999;
  }

  .form input {
    font-size: 15px;
    color: #666;
    padding: 6px;
    margin: 25px auto 20px;
    display: block;
    width: 75%;
  }

  input:focus {
    outline: 0;
  }

.rsvp {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.btn {
  text-align: center;
}


// .card_signup h2{
//   color: rgb(0, 0, 0);
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   font-size: 40px;
//   font-weight: bold;
//   font-family: 'Cinzel', serif;
// }

// .form-inputs {
//   width: 350px;
// }
