.entire {
  background-color: #efe4d8;
}

.simple-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 660px;
  width: 800px;
  background-color: black;
  padding-left: 0px;
}

.form-select {
  width: 400px;
}

.form-control {
  display: block;
  width: 400px;
}


.rsvpphoto {
  height: 300px;
  width: 300px;
}

.text-title {
  color: rgb(105, 101, 101);
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 80px;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  text-align: center;
}

.card-content {
  color: rgb(45, 43, 43);
  font-size: 16px;
  // opacity: .9;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.699);
  font-family: 'Noto Sans', sans-serif;
  max-width: 500px;
  text-align: center;
  padding-left: 0px;
  font-style: italic;
}

.rsvp {
  align-items: center;
  // display: flex;
  justify-content: center;
  background-color: #efe4d8;
}

.table-container {
  width: 50%;
  margin: 25px auto;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #BDC3C7;
  font-family: 'Raleway';
  }
  // .top {
  //   background-color: #264356;
  //   height: 200px;
  //   margin:0;
  //   padding:0;
  //   // box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
  // }

  .form {
    height: 590px;
    width: 400px;
    background-color: #fff;
    margin: -50px auto;
    border-radius: 10px;
    color: #666;
    padding: 0px 0px;
    // box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
  }

  .subheader {
    color: rgb(105, 101, 101);
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 25px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    text-align: center;
  }


  .reply-text {
    color: rgb(105, 101, 101);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 36px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    text-align: center;
  }

  .rsvp-title {
    color: rgb(105, 101, 101);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 36px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    text-align: center;
  }

  .info {
    padding: 10px;
  }

  h1, h2, p {
    color: rgb(105, 101, 101);
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 15px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    text-align: center;
  }

  h2 {
    color: rgb(105, 101, 101);
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 25px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    text-align: center;
  }

  p.line {
    margin: 0px auto 20px auto;
    color: #999;
  }

  .form input {
    font-size: 15px;
    color: #666;
    padding: 6px;
    margin: 25px auto 20px;
    display: block;
    width: 75%;
  }

  input:focus {
    outline: 0;
  }

.rsvp {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.rsvp_button {
  justify-content: center;
  display: block;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
  color: white;
  background-color: #70847a;
  text-decoration: none;
}

.rsvp_button {
  color: rgb(255, 255, 255);
  background-color: #926245;
  border: 1px solid #926245;
}

.rsvp_button {
  color: #ffffff;
  width: 200px;
  box-shadow: 0 0 20px #425551(104, 85, 224, 0.6);
  background-color: #926245(255, 255, 255);
}


// .card_signup h2{
//   color: rgb(0, 0, 0);
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   font-size: 40px;
//   font-weight: bold;
//   font-family: 'Cinzel', serif;
// }

// .form-inputs {
//   width: 350px;
// }


* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: #A0A9CC;
  color: #fff;
  font-size: 1.5em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
  font-weight: 100;
  text-align: center;
}

.container {

  background: #D7C5B9;
  color: #585a5f;
  display: block;
  padding: 0em 2em;
  margin: 0 auto;
  box-shadow: 0 50px 50px rgba(0, 0, 0, .2);
  .navigation {
    text-align: left;
    ol {
      list-style: none;
      background: #B7BED8;
      position: absolute;
      padding: 30px 0;
      width: 600px;
      z-index: 100;
      li {
        display: inline-block;
        margin-right: 27px;
        font-size: 0.7em;
        max-width: 20%;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        a {
          color: #fff;
          text-decoration: none;
          position: relative;
          z-index: 2;
          cursor: pointer;
          opacity: 0;
          &.done {
            opacity: 1;
          }
        }
      }
      margin-bottom: 30px;
    }
  }
  .sign-form {
    width: 500px;
    text-align: left;
    margin: 85px 0 0 0;
    #next-page {
      opacity: 0;
      width: 40px;
      height: 40px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
      background: url("https://jdniki.github.io/signup/images/next-page.svg");
      background-size: contain;
      &:hover {
        background: url("https://jdniki.github.io/signup/images/next-pagehover.svg");
        background-size: contain;
      }
    }
    .questions {
      list-style: none;
      -webkit-transition: height 0.4s;
      transition: height 0.4s;
      width: 88%;
      display: inline-block;
      height: 80px;
      li {
        position: absolute;
        width: 500px;
        span {
          display: block;
          margin-bottom: 10px;
        }
        input {
          width: 100%;
          font-size: .9em;
          color: #f2f2f2;
          margin: 0.3em 0 1em 0;
          border: none;
          background: none;
          border-bottom: 3px solid #fff;
          padding: 0.5em 0.1em;
          transition: all 0.5s ease;
          &:focus {
            outline: none;
            border-bottom: 3px solid #6A79A6;
          }
        }
        &:not(:first-child) {
          opacity: 0;
          margin-top: 150px;
        }
        /*-------------Password ------------------*/
        #viewpswd {
          position: absolute;
          opacity: 0;
          //                    z-index:-100;
        }
        #show-pwd {
          margin: -2.75em 0em;
          width: 40px;
          height: 40px;
          position: absolute;
          right: 0;
          color: rgba(255, 255, 255, 0.4);
          cursor: pointer;
          &.view {
            background: url("https://jdniki.github.io/signup/images/view.svg");
            background-size: contain;
          }
          &.hide {
            background: url("https://jdniki.github.io/signup/images/hide.svg");
            background-size: contain;
          }
        }
        #show-pwd:active,
        #show-pwd:focus {
          background: url("https://jdniki.github.io/signup/images/hide.svg");
          background-size: contain;
        }
        select.country {
          position: absolute;
          width: 4.5em;
          font-size: 0.7em;
          color: #f2f2f2;
          height: 70px;
          background: transparent;
          border: 1px solid #ccc;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: none;
        }
        #phone {
          padding-left: 5em;
        }
      }
    }
  }
  .error-message {
    color: rgba(207, 0, 0, 0.56);
    font-size: 14px;
    margin-top: 10px;
    padding-bottom: 30px;
    background: #B7BED8;
  }
}

::-webkit-input-placeholder {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}

:-ms-input-placeholder {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}

@-webkit-keyframes moveUpFromDown {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
  }
}

@keyframes moveUpFromDown {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
