.card-trip img {
    width: 350px;
    height: 350px;
}

.text {
  width: 400px;
  // border: solid black 3px;
  // margin-left: 530px;
  // margin-top: -800px;
}
.schedule-page {
  margin: auto;
  width: 82%;
  display: flex;
  justify-content: space-between;
  // margin-bottom: 150px;
}
.picture {
  // margin-left: -180px;
}

.btnx {
  background-color: #D6CCC2;
  border: none;
  color: white;
  position: relative;
  justify-content: right;
}

.btnx:hover {
  background-color: #D6CCC2;
  border: solid white 3px;
  text-decoration: none;
  color: white;
}

.btn {
  display: flex;
  justify-content: right;
  background-color: #D6CCC2;
  border: none;
  color: black;
  position: relative;
  // padding: 600px;
  z-index: 4;
  height: 40px;
  margin-right: 0;
}

.btn:hover {
  background-color: #D6CCC2;
  border: solid white 3px;
  // color: white;
}

.picture {
  position: fixed;
  z-index: 1;
  margin-top: 150px;
}

.dropdown-menu {
  position: absolute;
  z-index: 2;
}

.text {
  position: relative;
  z-index: 2;
  // border: solid black 3px;
  color: white;
}

.q {
  background-color: #D6CCC2;
  font-family: ‘Cinzel’, serif;
}

.q h1 {
  position: fixed;
  z-index: 3;
  padding-left: 200px;
  color: white;
  font-size: 80px;

}

.text-right {
  border-bottom: solid white 2px;
  // border-top: solid white 2px;
}

.image1 {
  height: 500px;
  object-fit: cover;
  position: fixed;
  z-index: 0;
  padding-top: 200px;
  padding-left: 300px;
  top: 375px;
  left: 275px;
}
