.schedule-title {
  color: rgba(115,115,115,115);
  font-size: 80px;
  font-family: 'Cinzel', serif;
  text-align: center;
  margin-top: 50px;
}

.schedule-data {
display: flex;
justify-content: space-evenly;
}

.text {
  position: relative;
  z-index: 2;
  color: white;
  width: 400px;
}

.text-right {
  border-bottom: solid white 2px;
}

.circle {
  height: 400px;
  box-shadow: 0 4px 4px 0;
  object-fit: cover;
  position: absolute;
}
