


<div class="banner" style="background-image: url(https://media-www.sqspcdn.com/images/pages/vertical/weddings/hero/hero.jpg);">

  <div class="container">
    <h1 class="heading_text">TOGETHER AT LAST</h1>
    <p>Together At Last is a wedding website for your big day, providing a template for wedding guests to view your wedding details, events, registry, gallery and RSVP.</p>
    <%= link_to "Get started", weddings_path, class: "btn btn-flat" %>
  </div>

</div>
