 <div class="add-media">
  <%= simple_form_for(@wedding) do |f| %>
    <!-- [...] -->
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit :submit %>
    <!-- [...] -->
  <% end %>
</div>
