 <div class="add-media">
  <p>Feel free to add any photos of us and our friends and family for all to see and take home with them!</p>
  <%= simple_form_for(@wedding) do |f| %>
    <!-- [...] -->
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit :submit %>
    <!-- [...] -->
  <% end %>
</div>
