<div class="page">
  <div class="buttonx">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</button>
    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item" href="#">Home</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">RSVP</a></li>
      <li><a class="dropdown-item" href="#">Schedule</a></li>
    </ul>
  </div>
  <div class="data">
    <img src="https://images.pexels.com/photos/4060469/pexels-photo-4060469.jpeg?cs=srgb&dl=pexels-agostino-toselli-4060469.jpg&fm=jpg" alt="" class="image">
    <h1><%= @wedding.page_heading %></h1>
  </div>
  <h2><%= @wedding.date %></h2>
  <p><%= @wedding.info %></p>
</div>

